<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="androarmy.poolio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OTP"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".EnterOTP"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".find_a_ride"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".WelcomeSlider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Confirmation"
            android:label="@string/title_activity_confirmation"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".available_rides" />
        <activity
            android:name=".details_ride"
            android:label="@string/title_activity_details_ride"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgotPassword" />
    </application>

</manifest>